
@{
    ViewBag.Title = "Index1";
}

<h2>Index 1 View Content</h2>

@Html.ActionLink("Index 2", "Index2")

@*@Html.Partial("_PartialView1", "MVC Learning")

    @Html.Partial("_PartialView1", 100)*@

@*@{
        <h3>Direct heading rendered on browser</h3>
        Html.RenderPartial("_PartialView1");
    }*@

@*@Html.Action("PartialView2Content")*@

@{
    Html.RenderAction("PartialView2Content");
}

@section LeftPanel
{
    <span>Index 1 View Side Content</span>
}

@section Ads
{
    <a href="#">flipkart.com</a>
    <a href="#">Amazon.com</a>
}

<script>
    $(function () {
        alert('Index 1 loaded');
    });
</script>