
@{
    ViewBag.Title = "Index";
}

<h2>Index View Content</h2>

@*<form action="actionname" method="get"></form>*@

@using (Html.BeginForm("Details", "Trainer", FormMethod.Post))
{
    <input type="hidden" id="trainerName" name="trainerName" value="V# Tech"/>

    <table>
        <tr>
            <td>Name</td>
            <td>
                <input type="text" name="Name" />
            </td>
        </tr>
        <tr>
            <td>Email</td>
            <td>
                <input type="text" name="Email" />
            </td>
        </tr>
    </table>

    <input type="submit" value="Submit"/>
}


@*@Html.ActionLink("Details", "Details", new { trainerName = "Vishal" })*@

