@model IPagedList<_5_ListingFeatures.Models.Trainer>

@using PagedList
@using PagedList.Mvc

@{
    ViewBag.Title = "Index";
}

@*<script src="~/Scripts/JavaScript1.js"></script>
    <script src="~/Scripts/JavaScript2.js"></script>
    <script src="~/Scripts/JavaScript3.js"></script>*@

@*@Scripts.Render("~/bundles/myJavascripts")*@

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajax-unobtrusive/3.2.6/jquery.unobtrusive-ajax.min.js"></script>

<link href="~/Content/PagedList.css" rel="stylesheet" />

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="float-end">
    @using (Html.BeginForm("Index", "Trainers", FormMethod.Get))
    {
        @Html.TextBox("search")
        <input type="submit" value="Search" class="btn btn-info" />
    }
</div>

@*@Html.Action("TrainersList")*@

@*<input type="button" value="Load Trainers" class="btn btn-primary" id="loadTrainers" />*@
@Ajax.ActionLink("Load Trainers", "TrainersList", null,
    new AjaxOptions()
    {
        HttpMethod = "get",
        UpdateTargetId = "trainers",
        InsertionMode = InsertionMode.Replace
    }, new { @class = "btn btn-primary" })

<br />

<div id="trainers"></div>


<script>

    $(function () {
        $('[name="selectAll"]').click(function () {
            debugger;
            // var checked = $(this).val();
            var checked = $(this).prop('checked');
            $('[name="TrainerToDelete"]').prop('checked', checked);
        });

        $('[name="TrainerToDelete"]').click(function () {
            var total = $('[name="TrainerToDelete"]').length;
            var selected = $('[name="TrainerToDelete"]:checked').length;

            if (total == selected) {
                $('[name="selectAll"]').prop('checked', true);
            }
            else {
                $('[name="selectAll"]').prop('checked', false);
            }
        });

        //$('#loadTrainers').click(function () {
        //    $.ajax({
        //        url: 'trainers/TrainersList',
        //        type: 'get',
        //        success: function (response) {
        //            $('#trainers').html(response);
        //        },
        //        error: function (reason) {
        //            $('#trainers').html(reason);
        //        }
        //    });
        //});
    });

    function deleteMultiple() {
        var selected = $('[name="TrainerToDelete"]:checked').length
        return confirm('Are you sure you want to delete ' + selected + ' trainers?');
    }

</script>