
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NewStudent</title>
</head>
<body>
    <div> 
        <h2>Create New Student</h2>
    </div>
</body>
</html>
